.descripcion-testimonio {
    text-align: justify;
  }
  
.contenedor-testimonio {
    box-shadow: 10px 10px 10px rgb(185, 184, 184);
    margin-top: 6em;
    margin-bottom: 6em;
  }

.contenedor-testimonio * {
    font-family: 'Lato', sans-serif;
  }
